<ion-app>
  <ion-split-pane contentId="main">
    <!--  the side menu  -->
    <ion-menu contentId="main" menuId="principal">
      <ion-header>
        <ion-toolbar>
          <ion-title class="subtitulo" >Menu admin</ion-title>
          <!-- <ion-title class="subtitulo" *ngIf="!admin && repartidor">Menu repartidor</ion-title>
          <ion-title class="subtitulo" *ngIf="!admin && !repartidor && usuario">Menu usuario</ion-title> -->
        </ion-toolbar>
      </ion-header>
      <ion-content>

        <ion-menu-toggle autoHide=false [routerLink]="['/']">
          <ion-item  button=true detail=true >
            <ion-label class="normal">Tienda </ion-label>
            <ion-icon slot="start"  name="storefront-outline"></ion-icon>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide=false >
          <ion-item  button=true detail=true >
            <ion-label class="normal">carrito</ion-label>
            <ion-icon slot="start"  name="cart-outline"></ion-icon>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false" [routerLink]="['/set-productos']"  >
          <ion-item button="true" detail="true"  >
            <ion-label class="normal" >Configuracion de productos</ion-label>
            <ion-icon slot="start" name="create-outline"></ion-icon>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false" >
          <ion-item button="true" detail="true"  >
            <ion-label class="normal" >Mis pedidos</ion-label>
            <ion-icon slot="start" name="bag-add-outline"></ion-icon>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false" >
          <ion-item button="true" detail="true" >
            <ion-label class="normal" >pedidos</ion-label>
            <ion-icon slot="start" name="bag-add-outline"></ion-icon>
          </ion-item>
        </ion-menu-toggle>

         
        <ion-menu-toggle autoHide="false" >
          <ion-item button="true" detail="true" >
            <ion-label class="normal" >clientes</ion-label>
            <ion-icon slot="start" name="people-outline"></ion-icon>
          </ion-item>
        </ion-menu-toggle>

      </ion-content>
    </ion-menu>
  
    <!-- the main content -->
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
</ion-app>